*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #F6F8FA;
}

.debug{
  border: 1px solid red;
}

header{ 
  width: 100%;
  padding: 15px 15px;
  background-color: white;
}

header h1{
display: inline-block;
vertical-align: middle;
font-size: 2.2rem;
}

.logo{
  vertical-align: middle;
}

button{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}

button.task{
  background-color: #48A9ED;
  color: white;
}

button.section {
  color: lightgray;
  border: 1px solid lightgray;
}

.container{
  background-color: white;;
  width: 890px;
  margin: 40px auto;
  padding: 10px 50px;
}

.buttons{
  margin-bottom: 30px;
}

.list{
  padding: 20px 0;
}

.list ol li{
  list-style-type: none;
  padding-top: 25px;
  font-size: 1.1rem;
}

.list .circle{
  padding: 2px 5px;
  border-radius: 50%;
}

.list .label{
  padding: 5px 13px;
  font-size: .8rem;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
}

.blue{
  background-color: #46A9E8;
}

.purple{
  background-color: #9E73E2;
}

.water{
  background-color: #66C2AC;
}

.orange{
  background-color: #FB9F2D;
}

.pink{
  background-color: #D864A8;
}

.lime{
  background-color: #ADC725;
}

.list .circle.color-red{
  border: 1px solid red;
  color: red;
  padding: 0px 8px 5px 8px;

}

.list .circle.color-green{
  border: 1px solid green;
  color: green;
}